<section id="about" class="pt-40">
  <div class="mx-auto max-w-2xl container">
    <h2 class="font-bold text-4xl">Who am I?</h2>
    <p class="font-medium pt-8 text-justify">Lorem ipsum dolor sit amet. Sed neque placeat qui consequuntur soluta ut labore perferendis. 33 dolorem libero
      sed possimus alias est iusto animi in voluptatem accusantium vel neque provident. Id laborum aliquid aut
      excepturi numquam ut facere quae ad exercitationem distinctio. Et quia voluptatem sit illo quasi est
      perspiciatis odio et dolores fuga.
    </p>
    <div class="mt-9 grid grid-cols-3 gap-32">
      <div>
        <h3 class="font-bold text-2xl">Technology</h3>
        <ul class="pt-6">
          <li>JavaScript</li>
          <li class="pt-2">Angular</li>
          <li class="pt-2">Tailwind CSS</li>
          <li class="pt-2">TypeScript</li>
          <li class="pt-2">RxJS</li>
        </ul>
      </div>
      <div>
        <h3 class="font-bold text-2xl">Project</h3>
        <ul class="pt-6">
          <li class="pt-2">Trello Clone</li>
          <li class="pt-2">Coming soon...</li>
        </ul>
      </div>
      <div>
        <h3 class="font-bold text-2xl">Contact</h3>
        <ul class="pt-6">
          <li class="pt-2"><a href="https://www.instagram.com/road.to.junior/">Instagram</a></li>
          <li class="pt-2"><a href="https://twitter.com/Micotoyami">Twitter</a></li>
          <li class="pt-2"><a href="https://www.linkedin.com/in/denys-skobalo-855450246/">LinkedIn</a></li>
        </ul>
      </div>
    </div>
    <div class="flex justify-center my-24">
      <a class="text-white font-bold bg-gray-700 py-3 px-8 rounded" routerLink="/about">More About</a>
    </div>
  </div>
</section>
