<footer class="bg-gray-700">
  <div class="mx-auto max-w-xl container pb-36">
    <ul class="flex justify-center pt-12">
      <li class="mr-20"><a [href]="linkInstagram"><img src="./assets/instagram.svg" alt=""></a></li>
      <li class="mr-20"><a [href]="linkLinkedin"><img src="./assets/linkedin.svg" alt=""></a></li>
      <li><a [href]="linkTelegram"><img src="./assets/telegram.svg" alt=""></a></li>
    </ul>
    <p class="text-center text-white text-sm font-medium pt-7">my social networks through which you can contact me</p>
  </div>
</footer>
