<header>
  <div class="mx-auto container pt-14">
    <nav>
      <ul class="flex font-bold">
        <li><a class="text-white mr-14" routerLink="/">Home</a></li>
        <li class="mr-14"><a routerLink="/about">About</a></li>
        <li><a class="text-white" routerLink="/github">Github</a></li>
      </ul>
    </nav>
    <div class="pt-80">
      <h1 class="text-8xl font-bold text-stone-400">Denys Skobalo</h1>
      <p class="font-medium pl-1 pt-2">I'm just learning frontend, and it is very intresting! </p>
    </div>
  </div>
</header>
