<section id="github" class="github mt-64 mb-40">
  <div class="mx-auto max-w-4xl container pt-16">
    <h2 class="text-white text-center text-7xl">GITHUB</h2>
    <div class="text-white text-3xl grid grid-cols-2 text-center mt-14 ">
      <div>
        <h4>Repository</h4>
        <p class="mt-4">{{data.public_repos}}</p>
      </div>
      <div>
        <h4>Followers</h4>
        <p class="mt-4">{{data.followers}}</p>
      </div>
    </div>
    <div class="flex justify-center mt-12">
      <a class="bg-white font-bold py-3 px-8 rounded" routerLink="/github">More About</a>
    </div>
  </div>
</section>
